@import url(https://fonts.googleapis.com/css?family=Ubuntu);

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  font-family: Ubuntu, sans-serif;
  font-size: 14px;
}

body {
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #1d1d1d;
  color: #ececec;
}

.layout-wrapper {
  flex: 1;
}

.calculator {
  min-width: 40rem;
  border: 1px solid #afafaf;

  @at-root #{&}__header {
    font-size: 1.1rem;
  }

  @at-root #{&}__body {
    padding: 16px 16px 0 16px;
    font-size: 1.05rem;
    font-weight: bold;
    border-top: 1px solid #afafaf;
  }

  label {
    margin-bottom: 0;
  }
}

.gs-form {
  .form {
    margin-top: 16px;
    max-width: 30rem;
  }

  .card {
    background-color: #7a7a7a;
    color: #ececec;
  }

  .small-text {
    color: #ececec;
  }

  .form-btn {
    height: 100%;
    padding: 4px 8px 4px 8px;
    width: 64px;
    text-align: center;
    vertical-align: middle;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    user-select: none;
    border: none;
    color: #ececec;
    background-color: #595959;
    transition: all .3s;
    &:hover {
      background-color: #4a4a4a;
      color: #ffdc0a;
    }
  }
}
